section {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  
  .cards {
    width: 250px;
    padding: 20px;
  }
  
  .cards:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
  }
  
  .image_box img {
    width: 150px;
    height: 200px;
  }
  
  .details p:nth-child(1) {
    font-weight: bold;
  }
  
  .details p:nth-child(2) {
    color: grey;
    font-size: 0.8rem;
  }
  
  .details p:nth-child(3) {
    font-weight: bold;
    color: grey;
  }
  
  .details button {
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    background-color: skyblue;
    outline: none;
    border-radius: 2px;
  }
  .details button:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  